@import url("reset.css");

/*  googlefont */
.noto-serif tc-regular {
    font-family: "Noto Serif TC", serif, "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body{
    background-image: url(../img/bg2.jpg);
    width: 1220px;
}

header{
    /* outline: 5px solid fuchsia; */
    width: 1220px;

}

footer{
    /* outline: 5px solid fuchsia; */
    width: 1220px;
    height: 170px;
    background-color: #FFF3DD;
}

.footer_p{
    /* border: 5px solid green; */
    display: flex;
    width: 470px;
    color: #932E00;
    font-size: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;

}

/* ---------------- index top nav ------------------ */

.index_nav{
    /* 底為透明 */
    background:rgba(255, 255, 255, 0);
    width: 1220px;
    /* 讓nav一直在上方 */
    /* position: relative;
    position: fixed; */
    float: left;
	top:0;
    /* 無法點擊所以加上Ｚ軸 */
    z-index: 10;

}

/* 左上角的logo */
.index_logo{
    height: 90px;
    position: fixed;
    top: 30px;
    left: 30px;
}

/* 右上角的icon */
.index_icon{
    width: 100px;
    height: 60px;
    color: #ffffff;
    position: fixed;
    top: 45px;
    right: 20px;

}

/* 導覽列 */
.center_nav{
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;

}

.center_nav ul {
    margin: 0 auto;
    text-align: center;
}

.center_nav li {
    float: left;
    padding: 25px;
}

/* 按鈕 */
.center_nav a{
    display: block;
    width: 80px;
    height: 20px;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
}


/* ---------------- all nav ------------------ */

.nav{
    /* 底為透明 */
    background:rgba(255, 255, 255, 0.852);
    width: 1220px;
    height: 120px;

}

/* 左上角的logo */
.all_logo{
    height: 90px;
    position: fixed;
    margin: 14px 0 0 31px;
}

/* 右上角的icon */
.all_icon{
    width: 100px;
    height: 60px;
    color: #F05E1C;
    position: fixed;
    top: 15px;
    right: 20px;

}

/* 導覽列 */
.all_nav{
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;

}

.all_nav ul {
    margin: 0 auto;
    text-align: center;
}

.all_nav li {
    float: left;
    padding: 25px;
}

/* 按鈕 */
.all_nav a{
    display: block;
    width: 80px;
    height: 20px;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #F05E1C;;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
}




/* ---------------- footer ------------------ */

.footer_logo {
    width: 200px;
}

.footer_nav{
    /* border: 10px solid sandybrown ; */
    width: 460px;
    margin: 0 auto;

}

.footer_nav li {
    margin: 0 auto;
    float: left;
    top:20px;
    left: 50px;
    padding: 25px;
}

.source{
    background-color: #282828;
    width: 1220px;
    height: 60px;
}

.source_p{
    /* border: 2px solid gold; */
    color: #ffffff;
    font-size: 13px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    display: block;
    background-color: #282828;
}

/* 按鈕 */
.footer_nav a{

    width: 100px;
    height: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #932E00;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
}


/* ---------------- top 影片區 ------------------ */

.voide{
    padding: 10px;

}

.banner{
    margin: 0 auto;
    overflow: hidden;
}

/* ---------------- 首頁內容區塊 ------------------ */

.main{
    margin: 0 auto;
    width: 1220px;

}
.index_about{
    height: 300px;
    width: 1220px;
    margin: 0 auto;
    margin-top: 10px;
    /* position: relative; */

}

/* 吃漢堡的圖 */
.main_img1{
    position: relative;
    /* overflow: hidden; */
    filter: drop-shadow(20px 50px 10px rgba(0, 0, 0, 0.242));
    /* 上右下左 */
    padding: 0px 0 0 50px;
    width: 500px;
    

}

.index_about h1{
    width: 530px;
    font-size: 42px;
    color: #313131;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    letter-spacing: 5px;
    padding-top: 20px;
    margin-bottom: 20px;
    /* 定位 */
    position: relative;
    bottom: 400px;
    left: 600px;
}

.index_about p{
    width: 530px;
    font-size: 16px;
    color: #313131;
    overflow: hidden;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 25px;
    /* 定位 */
    position: relative;
    bottom: 400px;
    left: 600px;
}


/* 漢堡情境圖 */
.main_img3{
    width: 1220px;
    /* 圖片下面出現多的空白 */
    display: block;

}

/* 絞肉圖 */
.main_img4{
    width: 1220px;
    display: block;
}


/* ---------------- 首頁內容區塊 食材介紹 ------------------ */

.about{
    background: #000000e7;
    width: 1220px;
    height: 800px;
}

/* 肉排介紹 */
.main_about{
    padding-top: 50px;
    width: 1200px;
    margin: 0 auto;

}
.about_video{
    /* 上右下左 */
    padding: 0 0 0 50px;
    position: relative;


}

.main_about_video h1{
    width: 500px;
    font-size: 42px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    letter-spacing: 5px;
    /* 定位 */
    position: relative;
    bottom: 290px;
    left: 600px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.685);



}

.main_about_video p{
    width: 500px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;
    /* 定位 */
    position: relative;
    bottom: 290px;
    left: 600px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.242);


}


/* 肉排照 */
.main_img5{
    width: 500px;
    margin: 90px 50px 0 0;
    background-color: #fff;
    position: relative;
    left: 590px;
    bottom: 290px;
    filter: drop-shadow(-20px 50px 10px rgba(0, 0, 0, 0.242));

}

/* 蔬菜介紹 */
.main_about_material{
    background: #000000e7;
    width: 1220px;
    height: 700px;
    
}

.about_material{
    width: 1220px;
    margin: 0 auto;

}


.main_about_material h1{
    width: 500px;
    font-size: 42px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    letter-spacing: 5px;
    padding-left: 100px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.685);

    

}

.main_about_material p{
    width: 900px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.242);
    padding-left: 100px;
    padding-bottom: 20px;

}

/* 蔬菜照 */
.main_img6{
    display: block;
    width: 1000px;
    filter: drop-shadow(10px 50px 10px rgba(0, 0, 0, 0.242));
    margin: 0 auto;
}

/* ---------------- 首頁內容區塊 商品選單 ------------------ */

.main_burger_goods{
    padding-top: 200px;
    display: flex;
    min-width: 100vh;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;
}

/* 設定輪播圖 */
ul.slides{
    position: relative;
    width: 1200px;
    height: 350px;
    /* background-color: gray; */
    overflow: hidden;

    padding-bottom: 50px;

}

li.slide{
    /* inherit繼層父層的高寬 */
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* 轉場的動畫 */
    transition: .5s transform ease-in-out;
}

/* 輪播選擇器 */
.slide:nth-last-of-type(1){
    background-image: url(../img/商品圖/大滿貫.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    /* 設定商品的位置 */
    left: 30px;
    
}
.slide:nth-last-of-type(2){
    background-image: url(../img/商品圖/酪梨起司.png);
    width: 400px;
    height: 400px;
    left: 800px;
}
.slide:nth-last-of-type(3){
    background-image: url(../img/商品圖/暗夜神秘堡.png);
    width: 400px;
    height: 400px;
    left: 400px;
    
}
.slide:nth-last-of-type(4){
    background-image: url(../img/商品圖/經典美式.png);
    width: 400px;
    height: 400px;
    left: 1210px;
    

}
.slide:nth-last-of-type(5){
    background-image: url(../img/商品圖/起司豬肉.png);
    width: 400px;
    height: 400px;
    left: 1610px;
    

}
.slide:nth-last-of-type(6){
    background-image: url(../img/商品圖/鳳梨豬.png);
    width: 400px;
    height: 400px;
    left: 2000px;
    

}

/* 輪播按鈕選擇器 */
input[type="radio"]{
    position: relative;
    z-index: 100;
    display: none;

}

.controls-visible{
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;


}
/* 修改形狀 */
.controls-visible label{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50px; 
    margin: 0 3px;
    border: 2px solid #F05E1C;

}
/* 設定被選中的按鈕呈現 */
.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .controls-visible label:nth-of-type(4) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(5):checked ~ .controls-visible label:nth-of-type(5) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(6):checked ~ .controls-visible label:nth-of-type(6) {
    background-color: #F05E1C;
}


/* 切換平移 */
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translateX(-200%);
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .slide {
    transform: translateX(-300%);
}

.slides input[type="radio"]:nth-of-type(5):checked ~ .slide {
    transform: translateX(-440%);
}

.slides input[type="radio"]:nth-of-type(6):checked ~ .slide {
    transform: translateX(-500%);
}

/* 設定商品自身的超連結 */
.slide1{
    display: block;
    width: 300px;
    height: 300px;
}
.slide2{
    display: block;
    width: 300px;
    height: 300px;
}
.slide3{
    display: block;
    width: 300px;
    height: 300px;
}
.slide4{
    display: block;
    width: 300px;
    height: 300px;
}
.slide5{
    display: block;
    width: 300px;
    height: 300px;
}
.slide6{
    display: block;
    width: 300px;
    height: 300px;
}

.meal_image {
    position: relative;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.meal_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meals_main_1 li {
    position: relative;
}

.meals_main_1 .price {
    font-size: 22px;
    color: #F05E1C;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
}

.shopp {
    /* 按鈕的樣式 */
}
