/* ---------------- 首頁內容區塊 商品選單 ------------------ */

.main_burger_goods{
    padding-top: 200px;
    display: flex;
    /* min-width: 100vh; */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* 設定輪播圖 */
ul.slides{
    position: relative;
    width: 100%;;
    height: 50vh;
    /* background-color: gray; */
    overflow: hidden;
    padding-bottom: 50px;

}

li.slide{
    /* inherit繼層父層的高寬 */
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* 轉場的動畫 */
    transition: .5s transform ease-in-out;
}

/* 輪播選擇器 */
.slide:nth-last-of-type(1){
    background-image: url(../img/商品圖/大滿貫.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    /* 設定商品的位置 */
    left: 30px;
    
}
.slide:nth-last-of-type(2){
    background-image: url(../img/商品圖/酪梨起司.png);
    width: 400px;
    height: 400px;
    left: 800px;
}
.slide:nth-last-of-type(3){
    background-image: url(../img/商品圖/暗夜神秘堡.png);
    width: 400px;
    height: 400px;
    left: 400px;
    
}
.slide:nth-last-of-type(4){
    background-image: url(../img/商品圖/經典美式.png);
    width: 400px;
    height: 400px;
    left: 1210px;
    

}
.slide:nth-last-of-type(5){
    background-image: url(../img/商品圖/起司豬肉.png);
    width: 400px;
    height: 400px;
    left: 1610px;
    

}
.slide:nth-last-of-type(6){
    background-image: url(../img/商品圖/鳳梨豬.png);
    width: 400px;
    height: 400px;
    left: 2000px;
    

}

/* 輪播按鈕選擇器 */
input[type="radio"]{
    position: relative;
    z-index: 100;
    display: none;

}

.controls-visible{
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;


}
/* 修改形狀 */
.controls-visible label{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50px; 
    margin: 0 3px;
    border: 2px solid #F05E1C;

}
/* 設定被選中的按鈕呈現 */
.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .controls-visible label:nth-of-type(4) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(5):checked ~ .controls-visible label:nth-of-type(5) {
    background-color: #F05E1C;
}

.slides input[type="radio"]:nth-of-type(6):checked ~ .controls-visible label:nth-of-type(6) {
    background-color: #F05E1C;
}


/* 切換平移 */
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translateX(-200%);
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .slide {
    transform: translateX(-300%);
}
